<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://cocode.dk/nightgallery" version="1.1.0" viewmodes="maximized">
    <tizen:application id="NightGalry.NightGallery" package="NightGalry" required_version="6.0"/>
    <content src="index.html"/>
    <access origin="*" subdomains="true"/>
    <tizen:content-security-policy>default-src * data: blob: 'unsafe-inline' 'unsafe-eval'; img-src * data: blob:; media-src *; connect-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval';</tizen:content-security-policy>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Night Gallery</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
